<section id="title" class="container">
  <h1>Hello everyone! Today, we're going to take a look into p5.Js!</h1>
    <img ng-src="img/angel.jpg" class="img-circle" id="creatorsPic" data-toggle="tooltip" data-placement="bottom" title="Angel!">
    <img ng-src="img/sally.jpg" class="img-circle" id="creatorsPic" data-toggle="tooltip" data-placement="left" title="Sally!">
    <img ng-src="img/saina.jpg" class="img-circle" id="creatorsPic" data-toggle="tooltip" data-placement="right" title="Saina!">
    <img ng-src="img/royce.jpg" class="img-circle" id="creatorsPic" data-toggle="tooltip" data-placement="bottom" title="Royce!">
</section>

<!-- make on click event for each person's picture to display description of the person and link to personal portfolio -->
  <div id="aboutSection"> 
    <h2>p5.Js Introduction<h2>
    <h3>
      <p>
        -p5.js stemmed from Processing
      </p><br>
      <p>
        -p5.js is a JavaScript Libray, Processing was a software sketchbook language
      </p><br>
      <p>
        -p5.js makes coding easy and accessible for all facets of life
      </p><br>
      <p>
        -Full set of drawing functionality
      </p><br>
      <p>
        -Addon libraries that make it easy to interact with other HTML5 objects
      </p><br>
      <p>
        -p5.js is relatively new and is in active development.
      </p><br>
    </h3>
  </div>








