<div class='container'>
	<h1 id="title">Get Started</h1>
	<h2>fork this <a href="https://github.com/sainap/p5_tutorial">repo</a></h2>
	<h3>Include in HTML<h3>
	<pre><code class="language-markup">		
		&lt;script src="../p5.min.js">&lt;/script>
		&lt;script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.19/p5.js">&lt;/script>
	</code></pre>
	<h3>Environment<h3>
	<img ng-src="img/sublime2.png">
	
	<h3>Then</h3>
	<p>Say something<p>
	<pre><code class="language-markup">		
		function setup() {

}

		function draw() {
		  		ellipse(50, 50, 80, 80);
}
	</code></pre>


</div>
