<div class='container'>
	<h1 id="title">Draw a flower with press event</h1>
	<h3>1. Set up a function called flower<h3>
	<pre><code class="language-markup">		
function flower() {

}
	</code></pre>

	<h3>2.<a href="http://p5js.org/reference/#/p5/translate" target="_blank">translate()</a> object with your mouse position</h3>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<pre><code class="language-markup">		
translate(mouseX, mouseY);
	</code></pre>

	<h3>3. Include a forloop to <a href="http://p5js.org/reference/#/p5/rotate" target="_blank">rotate()</a> <a href="http://p5js.org/reference/#/p5/ellipse" target="_blank">ellipse</a></h3>
	<h4>note: rotate(angle)</h4>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<pre><code class="language-markup">		
for (var i = 0; i < 6; i++) {
	ellipse(0, 0, 20, 80);
rotate(PI/6);
}
	</code></pre>

	<h3>4. Set the <a href="http://p5js.org/reference/#/p5/stroke" target="_blank">stroke()</a> color and fill the flower <h3>
	<h4>note: you may add the fourth value in fill, which stands for transparency (fully transparent -- 0, not transparent -- 255)</h4>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<pre><code class="language-markup">	
stroke(255);
fill(255, 0, 100, 130);
	</code></pre>

	<h3>5.Add press event</h3>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<pre><code class="language-markup">		
if (mouseIsPressed) {
    flower();
}
	</code></pre>

	<h3>6. Final Code </h3>
	<img id="code" src="../img/two.png"></img>

	<h3><a href="http://p5js.org/reference/" target="_blank">References</a></h3>

	<h3>See How it is like? Press your mouse!</h3>
	<iframe scrolling="no" src="http://students.washington.edu/yutonp/info343/demo-2/"></iframe>


</div>
